* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: wheat;
    font-family: sans-serif;
    background-image: url(/Без\ названия.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .avatar img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;
}

.center {
    width: 569px;
    height: 590px;
    background-color: rgb(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
}


.content {
    padding: 30px;
}

h1 {
    color: #fff;
}

.content h2,
p {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}


.social i{
    padding: 0 10px;
    font-size: 50px;
    color: rgb(255 , 255, 255,0.6);
}
.social i:hover{
    color: #fff;
}

 